<h1>MOST DANGEROUS DAY</h1>
<h2><%= @info.date %> has <%= @info.asteroids.count %> potentially dangerous near earth objects</h2>

<% @info.asteroids.each do |asteroid| %>
  <p> Name: <%= asteroid.name %> </p>
  <p> NEO Reference ID: <%= asteroid.neo_reference_id %> </p>
<% end %>
